body {
    font-family: Lexend Deca, sans-serif;
    font-weight: 400;
    background-color: hsl(0, 0%, 95%);
    margin: 0;
}

a {
    color:  hsl(0, 100%, 74%);
    font-weight: 700;
    text-decoration: none;
}

nav {
    margin: 3%;
}

h1 {
    font-family: Big Shoulders Display, sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 40px;
    color: white;
    text-transform: uppercase;
}

h2 {
    font-size: 15px;
    color: white;
    font-weight: lighter;
}

.bolder {
    font-weight: bolder;
}

p {
    color: rgb(238, 238, 238);
    font-family: Poppins, sans-serif;
    font-size: 14px;
    line-height: 20px;
}


.container {
    column-count: 3;
    column-width: 200px;
    margin: 0 auto;
    margin-top: 100px;
    grid-gap: 0;
    max-width: 60%;
}

.col1 {
    padding: 50px;
    background-color: hsl(31, 77%, 51%);
    height: 100%;
    max-width: 200px;
}

.col2 {
    padding: 50px;
    background-color: hsl(185, 98%, 23%);
    height: 100%;
    max-width: 200px;
}

.col3 {
    padding: 50px;

    background-color: hsl(178, 100%, 13%);
    height: 100%;
    max-width: 200px;
}


@media only screen and (max-width: 800px) {
    .main {
        grid-column-start: 1;
        grid-column-end: 12;
        text-align: center;
        justify-self: center;
    }
    .mainleft {
        margin: 0 auto;
        text-align: center;
        width: 75%;
        grid-column-start: 1;
        grid-column-end: 12;
        justify-self: center;
    }


    .social {
        margin: 0 auto;
        color: white;
        padding: 10px;
        margin: 15px;
        float: right;
    }
}


button {
    font-family: Lexend Deca, sans-serif;
    background-color: white;
    border:1px solid white;
    padding: 10px 35px 10px 35px;
    border-radius: 35px;
    border: none;
    margin-top:85px;
    font-size: 12px;
    font-weight: 500;
}

.button1 {
    color: hsl(31, 77%, 51%);
}

.button2 {
    color: hsl(185, 98%, 23%);
}

.button3 {
    color: hsl(178, 100%, 13%);
}

@media only screen and (max-width: 600px)
    .container {
        column-count: 1 !important;
    }
}